@import "tailwindcss";

@font-face {
  font-family: bomstad-light ; /* set name */
  src: url("./assets/fonts/BomstadDisplay-Light.ttf"); /* url of the font */
}
@font-face {
  font-family: bomstad-medium ;
  src: url("./assets/fonts/BomstadDisplay-Medium.ttf");
}
@font-face {
  font-family: bomstad-bold ;
  src: url("./assets/fonts/BomstadDisplay-Bold.ttf");
}
@font-face {
  font-family: bomstad-regular;
  src: url("./assets/fonts/BomstadDisplay-Regular.ttf");
}
@font-face {
  font-family: bomstad-thin ;
  src: url("./assets/fonts/BomstadDisplay-Thin.ttf");

}

@font-face {
  font-family: bomstad-semibold ;
  src: url("./assets/fonts/BomstadDisplay-SemiBold.ttf");
}

@keyframes move{
  from {transform: translateX(0);}
  to {transform: translateX(-50%);}
}



.marquee-track {
  animation: move 30s linear infinite;
}

.marquee-trackk {
  animation: move 100s linear infinite;
}

.marquee-wrapper-one {
  width: 140vw;              /* bigger than screen */
  margin-left: -20vw;       /* center it */
  transform: rotate(-6deg);
}
.marquee-wrapper-two {
  width: 140vw;              /* bigger than screen */
  margin-left: -20vw;       /* center it */
  transform: rotate(6deg);
}
